/*
$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop
1 em = 16px
We would like media queries to adapt to the default font size specified by user. Unfortunately rem is buggy
so we use em for best compatibility
*/
@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(120deg); } }

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  70% {
    transform: translateX(1rem); }
  100% {
    opacity: 100;
    transform: translate(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  70% {
    transform: translateX(-1rem);
    /* transform: translateX(-1rem) rotate(0); */ }
  100% {
    opacity: 100;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes progressBarGreenRed {
  100% {
    opacity: 0; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 6rem;
  background-color: #f7f7f7; }
  @media (max-width: 75em) {
    body {
      padding: 4rem; } }
  @media (max-width: 37.5em) {
    body {
      padding: 0; } }

input {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.25s; }
  .heading-secondary:hover {
    transform: skewX(10deg) scale(1.05);
    text-shadow: 0.25rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-right-zero {
  margin-right: 0 !important; }

.u.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */ }

.u-row-height-100perc {
  height: 100%; }

.u-position-relative {
  position: relative; }

.row {
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc((200% - 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((100% - 6rem) / 2); }
  .row .col-3-of-4 {
    width: calc((300% - 6rem) / 4); }

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.801), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem;
    transition: 1s ease; }
    .header__logo:hover {
      transform: rotate(360deg); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /* background-color: red; */
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary {
  color: #333;
  backface-visibility: hidden;
  margin-bottom: 1rem;
  font-size: 3.25rem;
  font-weight: 900;
  letter-spacing: 0.5px; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveinleft 1s; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #999;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
    background-color: #333; }
  .footer__link:hover, .footer__link:active {
    color: #28b485;
    box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.4);
    transform: rotate(3deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #999;
    padding-top: 2rem;
    width: 80%;
    float: right; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #ffffff;
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  display: block;
  border-radius: 50%;
  z-index: 1002;
  cursor: pointer;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.1); }

.navigation__background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: green;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#55c57a, #28b485);
  z-index: 1000;
  transition: all 0.7s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1001;
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  padding: 1rem 2rem;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
  background-size: 230%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem; }

.navigation__link:hover {
  background-position: 100%;
  color: #28b485;
  transform: translateX(-2rem); }

.navigation__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%); }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    transition: transform .7s, top .7s;
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  pointer-events: auto; }

.navigation__button:hover .navigation__icon::before {
  top: -1.2rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.2rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    background-color: #333;
    transform: rotate(225deg);
    top: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    background-color: #333;
    transform: rotate(-225deg);
    top: 0; }

.login {
  height: calc(100vh - 2 * 6rem);
  position: relative; }
  .login::after {
    content: "";
    clear: both;
    display: table; }
  .login__well {
    max-width: 50rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto; }
    @media (max-width: 37.5em) {
      .login__well {
        width: 80%; } }
  .login__input {
    font-size: 1.5rem;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 1.5rem 1.5rem;
    border-radius: 5rem 5rem 5rem 5rem;
    border: 0.1rem rgba(169, 169, 169, 0.271) solid;
    transition: all .15s;
    backface-visibility: hidden; }
    .login__input:focus {
      outline: none;
      padding: 1.39rem 1.5rem;
      border-bottom: 0.4rem solid #28b485;
      border-radius: 2.5rem 2.5rem 0rem 0rem; }
    .login__input:focus:invalid {
      border-bottom: 4px solid red; }
    .login__input::-webkit-input-placeholder {
      color: #999; }
  .login__group:not(:last-child) {
    margin-bottom: 1rem; }
  .login__label {
    display: block;
    position: relative;
    font-size: 1.3rem;
    color: #999;
    padding-left: 1.5rem;
    opacity: 1;
    z-index: -1;
    top: -3rem;
    transition: all .2s ease; }
  .login__button {
    font-family: inherit;
    font-size: 1.9rem;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.25);
    transition: all .2s;
    outline: none; }
    .login__button:hover {
      transform: translateY(-0.2rem);
      box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.2); }
    .login__button:active {
      transform: translateY(0.2rem);
      box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.35); }
    .login__button--orange {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .login__button--blue {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .login button.login__button {
    padding: 1.45rem 2rem; }
  .login #join {
    display: none; }
  .login #create {
    display: none; }
  .login__input:not(:invalid) + .login__label {
    transform: translateY(3rem); }
  .login #join:target, .login #create:target {
    display: initial; }
  .login #join:target ~ .login__create-join, .login #create:target ~ .login__create-join {
    display: none; }
  @media (max-width: 37.5em) {
    .login__input {
      font-size: 1.7rem; } }

.lobby {
  height: auto; }
  .lobby--js {
    min-height: calc(100vh - 2 * 6rem);
    display: flex; }
  .lobby__well {
    height: calc(100vh - 2 * 6rem);
    position: relative;
    border-right: none; }
    .col-3-of-4 .lobby__well {
      border-right: 3px solid rgba(169, 169, 169, 0.271); }
  .lobby__ladder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%; }
    .col-3-of-4 .lobby__ladder {
      width: 40%; }
    .col-1-of-1 .lobby__ladder {
      width: 30%; }
    .lobby__ladder-container {
      padding: 4rem;
      display: flex;
      flex-direction: column;
      flex: 1 0; }
    .lobby__ladder--js {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
  .lobby__settings {
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }
    .lobby__settings-container {
      padding: 4rem;
      flex: 0 0 30%;
      border-left: 2px solid rgba(169, 169, 169, 0.271); }
  .lobby__rail {
    font-size: 1.9rem;
    font-weight: 500;
    color: #ffffff;
    height: 5.4rem;
    max-width: 50rem;
    min-width: 50rem;
    position: relative;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.2);
    transition: all .2s;
    outline: none; }
    .lobby__rail:hover {
      transform: translateY(-0.2rem);
      box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.15); }
    .lobby__rail:active {
      transform: translateY(0.2rem);
      box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.3); }
    .lobby__rail:not(:last-child) {
      margin-bottom: 2rem; }
    .lobby__rail--name {
      display: inline-block;
      width: 80%;
      text-align: center;
      float: left;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      padding-left: 2rem;
      /* text-overflow: ellipsis; */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .lobby__rail--score {
      display: inline-block;
      width: 20%;
      text-align: center;
      float: left;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
    .lobby__rail--1 {
      background: #8e2de2;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #8e2de2, #4a00e0);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .lobby__rail--2 {
      background: #f12711;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #f5af19, #f12711);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #f5af19, #f12711);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .lobby__rail--3 {
      background: #f953c6;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #f953c6, #b91d73);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #f953c6, #b91d73);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .lobby__rail--4 {
      background: #159957;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #25b46c, #2264a5);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #25b46c, #2264a5);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .lobby__rail--5 {
      background: #56ab2f;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #a8e063, #56ab2f);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .lobby__rail--6 {
      background: #FFE000;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #FFE000, #9f950c);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #FFE000, #9f950c);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .lobby__rail--7 {
      background: #ED213A;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #ED213A, #93291E);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #ED213A, #93291E);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .lobby__rail--8 {
      background: #7F7FD5;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .lobby__rail--9 {
      background: #FF0099;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #493240, #FF0099);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #493240, #FF0099);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .lobby__rail--10 {
      background: #22c1c3;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #fdbb2d, #22c1c3);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .lobby__rail--11 {
      background: #000046;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #1CB5E0, #000046);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .lobby__rail--12 {
      background: #A770EF;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .lobby__rail--13 {
      background: #de6161;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #2657eb, #de6161);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #2657eb, #de6161);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .lobby__rail--14 {
      background: #16BFFD;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #CB3066, #16BFFD);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .lobby__rail--15 {
      background: #000000;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #434343, #000000);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #434343, #000000);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .lobby__header {
    font-size: 6rem;
    text-align: center; }
    .lobby__header--sub {
      text-align: center;
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 1em;
      margin-bottom: 1.5rem; }
    @media (max-width: 75em) {
      .lobby__header {
        font-size: 4rem; } }
  .lobby__group {
    bottom: 1rem;
    width: 100%; }
  .lobby__room-code {
    color: #4d4d4d;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .lobby__room-code--sub {
      font-size: 2rem;
      font-weight: 500; }
    .lobby__room-code--primary {
      font-size: 2rem;
      font-weight: 700;
      line-height: 120%; }
  .lobby__button {
    font-family: inherit;
    font-size: 1.9rem;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.25);
    transition: all .2s;
    outline: none; }
    .lobby__button:hover {
      transform: translateY(-0.2rem);
      box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.2); }
    .lobby__button:active {
      transform: translateY(0.2rem);
      box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.35); }
    .lobby__button--orange {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .lobby__button--blue {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .lobby button.lobby__button {
    padding: 1.45rem 2rem; }
  @media (max-width: 56.25em) {
    .lobby--js {
      flex-direction: column;
      min-height: calc(100vh - 2 * 4rem); }
    .lobby__rail {
      height: 5.4rem; }
    .lobby__ladder-container {
      padding: 2rem;
      flex: 1 0;
      border-right: none; }
    .lobby__settings-container {
      order: -1;
      padding: 2rem;
      padding-bottom: 4rem;
      border-left: none;
      border-bottom: 2px solid rgba(169, 169, 169, 0.271); }
    .lobby__settings-form {
      margin: auto;
      width: 70%; } }
  @media (max-width: 37.5em) {
    .lobby--js {
      min-height: 100vh; }
    .lobby__rail {
      height: 5.4rem;
      min-width: 100%; }
    .lobby__settings-form {
      margin: auto;
      width: 100%; }
    .lobby__room-code {
      margin-top: 1rem;
      margin-bottom: 1rem; } }

.play {
  height: auto; }
  .play__well {
    height: calc(100vh - 2 * 6rem);
    position: relative;
    border-right: none; }
  .play__row--primary {
    height: 65%;
    position: relative; }
  .play__row--secondary {
    height: calc(35% - 8rem); }
    .play__row--secondary .col-1-of-4 {
      position: relative;
      height: 100%;
      text-align: center; }
  .play__header--primary {
    font-size: 40rem;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #ffb900, #ff7730);
    -webkit-background-clip: text;
    color: transparent; }
  .play__header--secondary {
    font-size: 4rem;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    color: #4d4d4d;
    padding: 2rem;
    flex: 1 0; }
  .play__input {
    font-size: 1.5rem;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 1.5rem 1.5rem;
    border-radius: 5rem 5rem 5rem 5rem;
    border: 0.1rem rgba(169, 169, 169, 0.271) solid;
    transition: all .15s;
    backface-visibility: hidden; }
    .play__input:focus {
      outline: none;
      padding: 1.39rem 1.5rem;
      border-bottom: 0.4rem solid #28b485;
      border-radius: 2.5rem 2.5rem 0rem 0rem; }
    .play__input:focus:invalid {
      border-bottom: 4px solid red; }
    .play__input::placeholder {
      font-size: 1.5rem;
      font-weight: 400;
      color: #b3b3b3;
      text-transform: capitalize; }
  .play__group:not(:last-child) {
    margin-bottom: 1.7rem; }
  .play__label {
    display: block;
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    color: #999;
    padding-left: 1.5rem;
    opacity: 1;
    z-index: -1;
    transition: all .2s ease; }
  .play--js {
    min-height: calc(100vh - 2 * 6rem);
    display: flex;
    flex-direction: row; }
  .play__categories-container {
    flex: 1 0;
    display: flex;
    align-items: center; }
  .play__letter-container {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: center; }
  .play__answers-container {
    padding: 2rem; }
  .play__gameInfo {
    flex: 0 0 70%;
    display: flex;
    flex-wrap: wrap;
    text-align: center; }
  .play__v-progressBar {
    flex: 0 0 0.7rem;
    background-color: #2998ff;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .play__v-progressBar-bar {
      flex: 0 0 100%;
      background-color: #ffb900; }
  .play__h-progressBar {
    position: absolute;
    top: 0;
    left: 0%;
    height: 0.9rem;
    width: 100%;
    background-color: #2998ff;
    display: flex;
    justify-content: center; }
    .play__h-progressBar-bar {
      flex: 0 0 100%;
      background-color: #ffb900; }
  .play__answers {
    flex: 1 0;
    display: flex;
    flex-direction: column; }
  @media (max-width: 75em) {
    .play__categories-container {
      flex-direction: column; }
    .play__header--primary {
      font-size: 35rem; }
    .play__header--secondary {
      font-size: 4rem;
      padding: 1rem; } }
  @media (max-width: 56.25em) {
    .play__gameInfo {
      flex: 0 0 60%; }
    .play--js {
      min-height: calc(100vh - 2 * 4rem); } }
  @media (max-width: 37.5em) {
    .play--js {
      min-height: 100vh;
      flex-direction: column; }
    .play__gameInfo {
      flex: 0 0 5rem; }
    .play__categories-container {
      display: none; }
    .play__header--primary {
      font-size: 5rem;
      padding: 1rem; }
    .play__header-answers {
      display: none; }
    .play__answers-container {
      display: flex;
      flex-wrap: wrap; }
    .play div.play__group {
      flex: 0 0 50%;
      padding: 1rem;
      margin-bottom: 0; }
    .play__label {
      text-align: center;
      font-size: 1.8rem;
      padding-left: 0; }
    .play__v-progressBar {
      flex-direction: row; }
    .play__input {
      font-size: 1.7rem; } }

.decide {
  position: relative;
  height: auto; }
  .decide::after {
    content: "";
    clear: both;
    display: table; }
  .decide__well {
    height: calc(100vh - 2 * 6rem);
    position: relative;
    border-right: none; }
    .col-3-of-4 .decide__well {
      border-right: 3px solid rgba(169, 169, 169, 0.271); }
  .decide__ladder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%; }
    .col-3-of-4 .decide__ladder {
      width: 40%; }
    .col-1-of-1 .decide__ladder {
      width: 30%; }
  .decide__settings {
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }
    .decide__settings--user {
      height: 100%;
      position: relative; }
  .decide__rail {
    font-size: 1.9rem;
    font-weight: 500;
    color: #ffffff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.2);
    transition: all .2s;
    outline: none; }
    .decide__rail:hover {
      transform: translateY(-0.2rem);
      box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.15); }
    .decide__rail:active {
      transform: translateY(0.2rem);
      box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.3); }
    .decide__rail--invisible {
      visibility: hidden; }
    .decide__rail--name {
      text-align: center;
      font-size: 1.7rem;
      padding: 0 2rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .decide__rail--span-category {
      text-align: center;
      font-size: 1.7rem;
      padding: 0 2rem; }
    .decide__rail--1 {
      background: #8e2de2;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #8e2de2, #4a00e0);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .decide__rail--2 {
      background: #f12711;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #f5af19, #f12711);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #f5af19, #f12711);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .decide__rail--3 {
      background: #f953c6;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #f953c6, #b91d73);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #f953c6, #b91d73);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .decide__rail--4 {
      background: #159957;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #25b46c, #2264a5);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #25b46c, #2264a5);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .decide__rail--5 {
      background: #56ab2f;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #a8e063, #56ab2f);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .decide__rail--6 {
      background: #FFE000;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #FFE000, #9f950c);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #FFE000, #9f950c);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .decide__rail--7 {
      background: #ED213A;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #ED213A, #93291E);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #ED213A, #93291E);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .decide__rail--8 {
      background: #7F7FD5;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .decide__rail--9 {
      background: #FF0099;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #493240, #FF0099);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #493240, #FF0099);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .decide__rail--10 {
      background: #22c1c3;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #fdbb2d, #22c1c3);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .decide__rail--11 {
      background: #000046;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #1CB5E0, #000046);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .decide__rail--12 {
      background: #A770EF;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .decide__rail--13 {
      background: #de6161;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #2657eb, #de6161);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #2657eb, #de6161);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .decide__rail--14 {
      background: #16BFFD;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #CB3066, #16BFFD);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .decide__rail--15 {
      background: #000000;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #434343, #000000);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #434343, #000000);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .decide__rail--category {
      background: #2998ff;
      background: linear-gradient(to right bottom, #2998ff, #5643fa);
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700; }
  .decide__header {
    text-align: center;
    margin-bottom: 1rem; }
    .decide__header--decide {
      font-size: 5rem; }
    .decide__header--wait {
      font-size: 3rem; }
  .decide__group {
    position: absolute;
    bottom: 1rem;
    width: 100%; }
  .decide__room-code {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #4d4d4d; }
    .decide__room-code--sub {
      display: block;
      font-size: 3rem;
      font-weight: 500; }
    .decide__room-code--primary {
      display: block;
      font-size: 6rem;
      font-weight: 700;
      line-height: 120%; }
  .decide__button {
    font-family: inherit;
    font-size: 1.9rem;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.25);
    transition: all .2s;
    outline: none; }
    .decide__button:hover {
      transform: translateY(-0.2rem);
      box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.2); }
    .decide__button:active {
      transform: translateY(0.2rem);
      box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.35); }
    .decide__button--orange {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .decide__button--blue {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .decide button.lobby__button {
    padding: 1.45rem 2rem; }
  .decide__table {
    table-layout: fixed;
    width: 90%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(calc(6rem / -2)); }
    .decide__table td, .decide__table th {
      padding: 1rem 1rem; }
    .decide__table--category {
      font-size: 2.5rem;
      font-weight: 700;
      text-transform: capitalize;
      text-align: center; }
  .decide__input {
    background-color: #efefef;
    border-radius: 5rem;
    border: 0.1rem rgba(169, 169, 169, 0.271) solid;
    text-align: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center; }
    .decide__input-text, .decide__input-name {
      color: #4d4d4d;
      font-size: 1.7rem;
      font-weight: 500;
      line-height: 1em;
      width: 90%; }
    .decide__input-name {
      display: none; }
    .decide__input[disabled="disabled"] {
      background-color: #dedede; }
  .decide__radio--res {
    opacity: 0;
    position: absolute; }
  .decide__radio--button {
    display: inline-block;
    position: relative;
    width: 5rem;
    height: 5rem;
    border-style: solid;
    border-width: 0.7rem;
    border-radius: 50%; }
    .decide__radio--button::after {
      content: "";
      display: inline-block;
      position: absolute;
      height: 2.3rem;
      width: 2.3rem;
      border-radius: 50%;
      background-color: transparent;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .decide__radio--text {
    line-height: 100%;
    font-size: 3.5rem;
    font-weight: 500;
    vertical-align: middle;
    margin-left: 4rem; }
  .decide__option {
    display: none; }
  .decide__label {
    cursor: pointer;
    display: flex;
    align-items: center; }
  .decide__radio-group:not(:last-child) {
    margin-bottom: 2rem; }
  .decide__radio-group--unique .decide__radio--button {
    border-color: #28b485; }
    .decide__radio-group--unique .decide__radio--button::after {
      background-color: #28b485; }
  .decide__radio-group--unique .decide__radio--text {
    color: #28b485; }
  .decide__radio-group--same .decide__radio--button {
    border-color: #ffb900; }
    .decide__radio-group--same .decide__radio--button::after {
      background-color: #ffb900; }
  .decide__radio-group--same .decide__radio--text {
    color: #ffb900; }
  .decide__radio-group--incorrect .decide__radio--button {
    border-color: red; }
    .decide__radio-group--incorrect .decide__radio--button::after {
      background-color: red; }
  .decide__radio-group--incorrect .decide__radio--text {
    color: red; }
  .decide__submit--button {
    margin-top: auto;
    margin-bottom: 2rem;
    width: 100%; }
  .decide__finalise.login__button {
    position: relative; }
  .decide--js {
    min-height: calc(100vh - 2 * 6rem);
    display: flex;
    flex-direction: row; }
  .decide__answers-container {
    flex: 0 0 70%;
    display: flex;
    padding: 4rem;
    padding-left: 0rem;
    flex-direction: row; }
  .decide__answers-user-block {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    max-width: 20%; }
  .decide__answers-response-block {
    display: flex;
    flex-direction: column;
    flex: 1 0; }
  .decide__options-container {
    padding: 4rem;
    flex: 1 0;
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgba(169, 169, 169, 0.271); }
  .decide__answers-submit {
    display: none; }
  .decide__settings-form {
    flex: 1 0;
    display: flex;
    flex-direction: column; }
  .decide__input-group {
    flex: 0 0 7rem;
    padding: 1rem; }
  .decide__rail-group {
    flex: 0 0 7rem;
    padding: 1rem;
    height: 100%; }
    .decide__rail-group--category {
      flex: 0 0 10rem; }
  .decide__options-wait {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    border-left: 2px solid rgba(169, 169, 169, 0.271); }
  .decide__radio--incorrect:checked ~ .decide__input {
    background-color: #ffcccc; }
  .decide__radio--unique:checked ~ .decide__input {
    background-color: #b9efdd; }
  .decide__radio--same:checked ~ .decide__input {
    background-color: #fff1cc; }
  .decide__option:not(:checked) + label .decide__radio--button::after {
    visibility: hidden; }
  @media (max-width: 75em) {
    .decide {
      min-height: calc(100vh - 2 * 4rem); }
      .decide__options-container {
        padding: 2rem; }
      .decide__options-wait {
        padding: 2rem; }
      .decide__radio--text {
        margin-left: 1rem; }
      .decide__input-group {
        padding: 0.5rem; }
      .decide__rail-group {
        padding: 0.5rem; }
      .decide__input-text {
        font-size: 1.3rem; }
      .decide__radio--button {
        width: 3rem;
        height: 3rem; }
      .decide__radio--button {
        width: 3rem;
        height: 3rem;
        border-width: 0.5rem; }
        .decide__radio--button::after {
          height: 1.3rem;
          width: 1.3rem; }
      .decide__rail--category {
        border-radius: 2rem; }
      .decide__rail--name {
        text-align: center;
        font-size: 1.5rem;
        padding: 0; } }
  @media (max-width: 56.25em) {
    .decide__gameInfo {
      flex: 0 0 60%; }
    .decide--js {
      min-height: calc(100vh - 2 * 4rem); } }
  @media (max-width: 37.5em) {
    .decide {
      min-height: 100vh; }
      .decide__header--decide {
        display: none; }
      .decide__header--wait {
        padding: 0 6rem; }
      .decide__settings-form {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #333;
        padding: 2rem 1rem; }
      .decide__radio--button {
        display: none; }
      .decide__radio-group {
        flex: 0 0 33.33%; }
        .decide__radio-group:not(:last-child) {
          margin-bottom: 0rem; }
      .decide__rail--name {
        font-size: inherit; }
      .decide__label {
        justify-content: center; }
      .decide__radio--text {
        margin-left: 0; }
      .decide--js {
        display: flex;
        flex-direction: column;
        min-height: 100vh; }
      .decide__rail--category {
        border-radius: 5rem; }
      .decide__options-container {
        flex: 0 0 7rem;
        order: -1;
        padding: 0rem;
        border-left: none; }
      .decide__options-wait {
        border-left: none;
        border-bottom: 2px solid rgba(169, 169, 169, 0.271); }
      .decide__options-wait {
        order: -1; }
      .decide__submit--button {
        margin-bottom: 0rem;
        padding: 1rem;
        margin-top: 3rem; }
      .decide__options-submit {
        display: none; }
      .decide__answers-submit {
        display: block; }
      .decide__answers-response-block:not(:last-child) {
        margin-bottom: 1.5rem; }
      .decide__answers-response-block > *:not(:last-child) {
        margin-bottom: 1rem; }
      .decide__answers-user-block {
        display: none; }
      .decide__answers-container {
        flex: 1 0;
        flex-direction: column;
        padding: 2rem; }
      .decide__rail-group {
        height: 6rem; }
        .decide__rail-group--category {
          flex: 0 0 7rem; }
      .decide__input {
        height: 6rem;
        justify-content: space-around; }
        .decide__input-text, .decide__input-name {
          display: inline-block;
          width: auto;
          font-size: 1.7rem;
          font-weight: 600;
          flex: 1 0;
          padding: 0 1rem; }
      .decide div span.decide__radio--text {
        color: white; }
      .decide__option:checked + label[for="decide__radio--unique"] span {
        color: #28b485; }
      .decide__option:checked + label[for="decide__radio--same"] span {
        color: #ffb900; }
      .decide__option:checked + label[for="decide__radio--incorrect"] span {
        color: red; } }

.lds-facebook {
  display: flex;
  font-size: 2rem;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 15rem;
  height: 15rem;
  margin: auto; }

.lds-facebook div {
  left: 0.8em;
  width: 1.6em;
  background-image: linear-gradient(to right, #ff7730, #ffb900);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite; }

.lds-facebook div:nth-child(1) {
  animation-delay: -0.24s; }

.lds-facebook div:nth-child(2) {
  animation-delay: -0.12s; }

.lds-facebook div:nth-child(3) {
  animation-delay: 0; }

@keyframes lds-facebook {
  0% {
    top: 0.8em;
    height: 6.4em; }
  50%, 100% {
    top: 2.4em;
    height: 3.2em; } }

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.801), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 25rem 0;
  margin-top: -12rem; }

.section-stories {
  padding: 15rem 0;
  position: relative; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #55c57a, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 50rem;
  overflow: hidden; }
  .book__form {
    width: 50%;
    padding: 6rem; }
